<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [20]:
#Not originally here - just my experiment to test queries in Pandas/Python instead of SQL

FullTableDF head

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
For Example "Landing_Outcome"**

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [37]:
#Task 0, actually
#Not here originally - want to do some data wrangling to fix the extra space in the "Mission_Outcome" whose value is "Success " insted of "Success"  (See task 7)
#Need to standardize date format as well - see task 5 (fixed), 10


#fix the extra space in "Success "
updatestatement = """
UPDATE SPACEXTBL SET Mission_Outcome = 'Success'
where Mission_Outcome = 'Success '
"""

cur.execute(updatestatement)
print (cur.rowcount, "records affected")

#columndescrption = cur.execute("PRAGMA table_info(SPACEXTBL)").fetchall()
#print("columns:\n", columndescrption)

#CheckDateDF = pd.DataFrame(CheckDateList, columns=['Orig Date', 'Converted Date'])
#CheckDateDF.tail(60)

0 records affected

In [21]:
#Inserting this cell to build a DF from the SQL table - just as an experiment
GetAllSql = """
SELECT * FROM SPACEXTBL;
"""

cur.execute(GetAllSql)
FullTableDF = cur.fetchall()
#print ("table fetchall\n", FullTableDF)
SpaceXDF = pd.DataFrame(FullTableDF, columns = ['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing _Outcome'])
print ("FullTableDF head\n")
SpaceXDF.head()

FullTableDF head

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [8]:
LaunchSiteList_sql = """
SELECT distinct Launch_Site from SPACEXTBL;
"""

cur.execute(LaunchSiteList_sql)

LaunchSiteList = cur.fetchall()
print(LaunchSiteList)

print("\n\nResult shown as DF looks better:\n")
LaunchSiteListDF = pd.DataFrame(LaunchSiteList, columns = ['Launch_Site'])
LaunchSiteListDF.head()

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


Result shown as DF looks better:

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [9]:
FiveCCARecords_sql = """
SELECT  * from SPACEXTBL
where Launch_Site like 'CCA%'
LIMIT 5;
"""
result = cur.execute(FiveCCARecords_sql)
result_list = cur.fetchall()
print("results as a list =\n", result_list)

ccadf5 = pd.DataFrame(result_list, columns = ['Date', 'Time', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS_KG', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome'])
print("\n\nResult shown as DF looks better:\n")
ccadf5.head()

results as a list =
 [('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'), ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'), ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'), ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'), ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]


Result shown as DF looks better:

,Date,Time,Booster_Version,Launch_Site,Payload,PAYLOAD_MASS_KG,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [10]:
CustomerNASA_sql = """
SELECT SUM(PAYLOAD_MASS__KG_) from SPACEXTBL
WHERE Customer = 'NASA (CRS)'
GROUP BY Customer;
"""
NASAResult = cur.execute(CustomerNASA_sql)
NASAMass = cur.fetchall()
print("NASA (CRS) Mass = ", NASAMass[0][0], " Kgs")

NASA (CRS) Mass =  45596  Kgs

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [11]:
BosterVersionMass_sql = """
SELECT AVG(PAYLOAD_MASS__KG_) from SPACEXTBL
WHERE Booster_Version = 'F9 v1.1'
GROUP BY Booster_Version;
"""
BoosterVersionMassResult = cur.execute(BosterVersionMass_sql)
BoosterVersionAvgMass = cur.fetchall()
print("Booster version F9 v1.1 Avg Mass = ", BoosterVersionAvgMass[0][0], " Kgs")

Booster version F9 v1.1 Avg Mass =  2928.4  Kgs

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [53]:
FirstGoodDate_sql = """
SELECT Substr(Date,1,2) || '-' || Substr(Date,4,2) || '-' || Substr(Date,7,4)
from SPACEXTBL
WHERE "Landing _Outcome" = 'Success (ground pad)'
order by Substr(Date,1,2) desc, Substr(Date,4,2) desc, Substr(Date,7,4) desc
"""


FirstGoodDateResult = cur.execute(FirstGoodDate_sql)
FirstGoodDate = cur.fetchall()
print("First date of successfull landing on ground pad = ", FirstGoodDate[0][0])

#My original query showed 01-05-2017 but it should be 22-12-2015
#I know the purpose of the exercise was to show use of the "Min" function, but I used a concatenation of substr instead 
#because I couldn't figure out how to convert the Date - which seems to be stored as a text string - into a Date format.

First date of successfull landing on ground pad =  22-12-2015

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [14]:
WhichVersionSQL = """
SELECT DISTINCT Booster_Version from SPACEXTBL
WHERE "Landing _Outcome" = "Success (drone ship)"
AND (PAYLOAD_MASS__KG_ > 4000) AND (PAYLOAD_MASS__KG_ < 6000)
"""

VersionResultList = cur.execute(WhichVersionSQL)
VersionResult = cur.fetchall()
print("Boosters successful with drone ships and payloads between 4000 and 6000 Kgs:\n", VersionResult)

VersionResultDF = pd.DataFrame(VersionResult, columns = ['Booster_Version'])

print("\n\nResult shown as DF looks better:\n")
VersionResultDF.head()

Boosters successful with drone ships and payloads between 4000 and 6000 Kgs:
 [('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]


Result shown as DF looks better:

  Booster_Version
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7

##### List the total number of successful and failure mission outcomes

In [17]:
SuccessfulMissionRateSQL = """
SELECT Mission_Outcome, COUNT(Mission_Outcome) from SPACEXTBL
GROUP BY Mission_Outcome;
"""

SuccessChartSQL = cur.execute(SuccessfulMissionRateSQL)
SuccessChart = cur.fetchall()
print ("Quantity of successful missions = \n", SuccessChart)

print("\n\nResult shown as DF looks better:\n")
SuccessChartDF = pd.DataFrame(SuccessChart, columns = ['Mission_Outcome', 'Qty'])
SuccessChartDF

Quantity of successful missions =
 [('Failure (in flight)', 1), ('Success', 99), ('Success (payload status unclear)', 1)]


Result shown as DF looks better:

                    Mission_Outcome  Qty
0               Failure (in flight)    1
1                           Success   99
2  Success (payload status unclear)    1

In [22]:
#Not here originally

SpaceXDF.groupby(['Mission_Outcome']).count()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Landing _Outcome
Mission_Outcome,,,,,,,,,
Failure (in flight),1,1,1,1,1,1,1,1,1
Success,99,99,99,99,99,99,99,99,99
Success (payload status unclear),1,1,1,1,1,1,1,1,1

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
OverallSQL = """
Select distinct Booster_Version from SPACEXTBL
where PAYLOAD_MASS__KG_ = (SELECT max(PAYLOAD_MASS__KG_) from SPACEXTBL)
"""

OverallSQLCursor = cur.execute(OverallSQL)
BoosterVersionWithHeavyLoads = cur.fetchall()
print("Heavy Booster Versionss = \n", BoosterVersionWithHeavyLoads)

print("\n\nResult shown as DF looks better:\n")
BosterVersionWithHeaverLoadsDF = pd.DataFrame(BoosterVersionWithHeavyLoads, columns = ['Booster_Version'])
BosterVersionWithHeaverLoadsDF

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [54]:
FailedDroneShipLandings2015sql = """
Select Date, substr(Date, 4, 2) as Month, substr(Date, 7,4) as Year, Booster_Version, Launch_Site, "Landing _Outcome" from SPACEXTBL
where "Landing _Outcome" == 'Failure (drone ship)'
AND substr(Date, 7, 4)== '2015';

"""

FailedDroneShipLandingCursor = cur.execute(FailedDroneShipLandings2015sql)
FailedDroneShipLanding2015 = cur.fetchall()

print("Troubled drone ship landings, 2015\n", FailedDroneShipLanding2015)

print("\n\nResult shown as DF looks better:\n")
FailedDroneShipLanding2015DF = pd.DataFrame(FailedDroneShipLanding2015, columns = [ 'Date', 'Month', 'Year', 'Booster_Version', 'Launch_Site', "Landing _Outcome"])
FailedDroneShipLanding2015DF

Troubled drone ship landings, 2015
 [('10-01-2015', '01', '2015', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'), ('14-04-2015', '04', '2015', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)')]


Result shown as DF looks better:

         Date Month  Year Booster_Version  Launch_Site      Landing _Outcome
0  10-01-2015    01  2015   F9 v1.1 B1012  CCAFS LC-40  Failure (drone ship)
1  14-04-2015    04  2015   F9 v1.1 B1015  CCAFS LC-40  Failure (drone ship)

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [ ]:
#I think this means to present all the rows in the table, having a successful launch, in which the date is between June 4, 2010 and March 20, 2017, in descending order of Date
#But I'm not sure why it's asking for "count".

SuccessfulLandingListSQL = """
Select * from SPACEXTBL
where "Landing _Outcome" like 'Success%'
and Date >= 6/4/2010 
ORDER BY Date DESC
"""

SuccessfulLandingListCursor = cur.execute(SuccessfulLandingListSQL)
SuccessfulLandingList = cur.fetchall()

print("Successful Landing Outcomes between June 4, 2010 and March 20, 2017 (inclusive)\n", SuccessfulLandingList)
SuccessfulLandingList

print("\n\nResult shown as DF looks better:\n")
SuccessfulLandingListDF = pd.DataFrame(SuccessfulLandingList, columns = [ 'Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', "Landing _Outcome"])
SuccessfulLandingListDF

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center">  IBM Corporation 2021. All rights reserved. <h3/>